@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#homepage {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#homepage .div {
  background-color: #1e1e1e;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

#homepage .overlap {
  position: absolute;
  width: 1333px;
  height: 1335px;
  top: -653px;
  left: 835px;
}

#homepage .overlap-group {
  position: absolute;
  width: 1333px;
  height: 1050px;
  top: 0;
  left: 0;
}

#homepage .rectangle {
  position: absolute;
  width: 1203px;
  height: 854px;
  top: 98px;
  left: 65px;
  background-color: #f67d12;
  border-radius: 60px;
  transform: rotate(10deg);
}

#homepage .group {
  position: absolute;
  width: 619px;
  height: 162px;
  top: 685px;
  left: 13px;
}

#homepage .overlap-group-2 {
  position: relative;
  width: 617px;
  height: 162px;
}

#homepage .logo {
  position: absolute;
  width: 169px;
  height: 162px;
  top: 0;
  left: 0;
  object-fit: cover;
}

#homepage .text-wrapper {
  position: absolute;
  top: 43px;
  left: 160px;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76.8px;
  white-space: nowrap;
}

#homepage .kelompok-profile {
  position: absolute;
  top: 1049px;
  left: 68px;
  font-weight: 700;
  color: #ffffff;
  font-size: 150px;
  letter-spacing: 0;
  line-height: 180px;
}

#homepage .overlap-2 {
  position: absolute;
  width: 706px;
  height: 894px;
  top: 98px;
  left: 98px;
  border-radius: 30px;
  overflow: hidden;
}

#homepage .rectangle-2 {
  position: absolute;
  width: 693px;
  height: 881px;
  top: 12px;
  left: 12px;
  background-color: #ffffff;
  border-radius: 30px;
}

#homepage .img {
  position: absolute;
  width: 693px;
  height: 880px;
  top: 2px;
  left: 2px;
}

#homepage .overlap-2 .img {
  position: absolute;
  width: 693px;
  height: 880px;
  top: 2px;
  left: 2px;
  object-fit: cover;
  overflow: hidden;
}

#homepage .rectangle-3 {
  position: absolute;
  width: 698px;
  height: 886px;
  top: 0;
  left: 0;
  border-radius: 30px;
  border: 5px solid;
  border-color: #ffffff;
}

#homepage .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 25px 40px;
  position: absolute;
  top: 903px;
  left: 903px;
  border-radius: 50px;
  border: 3px solid;
  border-color: #ffffff;
}

#homepage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  text-align: right;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}